extends: default

rules:
  indentation:
    check-multi-line-strings: false
    spaces: 2
    indent-sequences: consistent
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
