[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "==3.7.0"
tox-pipenv = "*"

[requires]
python_version = "3.6"

[packages]
molecule = {extras = [ "docker",],version = "*"}
